

.card.product-card {
    text-align: center;
}

.product-image {
    width: 100%;
    height: 180px; 
    object-fit: contain;
    padding: 0.75rem;
}

.card-title, .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}